[Unit]
Description=Automatica Front Service
After=network.target

[Service]
User=rasp
WorkingDirectory=/home/rasp/automatica-vending/expend-local-app/www
ExecStart=/usr/bin/python3 -m http.server 8080
Restart=always

[Install]
WantedBy=multi-user.target