[Unit]
Description=Automatica Vending Service
After=network.target

[Service]
User={user}
WorkingDirectory=/home/rasp/automatica-vending/expend-machine-processor
ExecStart=/bin/bash /home/rasp/automatica-vending/expend-machine-processor/run.sh
Restart=always

[Install]
WantedBy=multi-user.target